@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utility to hide scrollbars but keep functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Inter', sans-serif; /* Or default system font */
}